node_modules/
node_modules
/node_modules
Client/node_modules
.DS_Store
.env
.env.local
.env.development
.env.test
.env.production
Client/DS_Store
/Client/.env
populate.js
Client/build
dist
Server/dist
Client/build
Client/src/assets/css