/* form */

@import "./viewports.scss";

.form {
  color: var(--textColor);
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
  transition: var(--transition);
}

.form:hover {
  box-shadow: var(--shadow-4);
}

.form-label {
  color: var(--textColor);
  display: block;
  font-size: var(--smallText);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

.form-input,
.form-textarea,
.form-select {
  color: var(--textColor);
  width: 100%;
  padding: 0.5rem;
  border-radius: var(--borderRadius);
  background-color: var(--primary-1000);
  border: 1px solid var(--primary-300);
  -webkit-appearance: none;
  appearance: none;
  transition: var(--transition);
  height: max-content;
}

.form-input:focus,
.form-textarea:focus,
.form-select:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Added a subtle focus effect */
}

.form-input,
.form-select,
.btn-block {
  min-height: 35px;
  height: max-content;
}

.form-row {
  margin-bottom: 1.5rem; /* Increased margin for better spacing */
}

.form-textarea {
  height: 7rem;
}

::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}

.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
  margin-top: 0.5rem; /* Added margin for better separation */
}

/* mobile only */
@media (max-width: $tablet) {
  .form-textarea {
    height: 5rem;
  }
  .form-alert {
    font-size: 0.875rem;
  }
}
