:root {
  /* colors */
  --yellow-dark: #edc74f;
  --yellow-light: #fff8e6;

  /*primary colors*/
  --primary-50: #fce4ef;
  --primary-100: #f9c5de;
  --primary-200: #f5a6ce;
  --primary-300: #eb82b3;
  --primary-400: #e05e98;
  --primary-500: #d4367c;
  --primary-600: #b82666;
  --primary-700: #9c1c53;
  --primary-800: #801644;
  --primary-900: #661036;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #eef2f6;
  --grey-200: #e3e8ef;
  --grey-300: #cfd9e3;
  --grey-400: #a4b4c4;
  --grey-500: #728197;
  --grey-600: #546277;
  --grey-700: #3a4556;
  --grey-800: #232b38;
  --grey-900: #121820;

  /* rest of the colors */
  --red-light: #fee2e2;
  --red-dark: #991b1b;
  --black: #121212;
  --white: #ffffff;

  /* fonts  */
  --headingFont: "Roboto Condensed", Sans-Serif;
  --bodyFont: "Cabin", Sans-Serif;
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;

  /* rest of the vars */
  --outline-button-background: var(--white);
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.375rem;
  --letterSpacing: 0.5px;
  --transition: 0.2s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: $large-mobile;
  --fluid-width: 90vw;
  --breakpoint-lg: 992px;
  --nav-height: 6rem;
  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}
